.cdiConsentList-table-wrapper .status{
    display:flex;
    align-items: center;
    font-size: 12px;
    width: 170px;
    height: 22px;
    border-radius: 5px;
    line-height: 22px;
}

.cdiConsentList-table-wrapper .status.yellow{
    background-color: #fff8f2;
    color:#c56612;
}
.cdiConsentList-table-wrapper .status.green{
    background-color: #f4fff7;
    color:#009621;
}
.cdiConsentList-table-wrapper .status.red{
    background-color: #fff8f8;
    color:#c70000;
}
.cdiConsentList-table-wrapper .status.purple{
    background-color: #fdf9ff;
    color:#9a38c8;
}