@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


.consentCredList-table-wrapper .status.yellow {
    background-color: #FFB22B;
}

.consentCredList-table-wrapper .status.green {
    background-color: #AFECD6;
}


.consentCredList-table-wrapper .status.red {
    background-color: #DD7D91;
}

.consentCredList-table-wrapper .view-btn{
    color:#036aa4;
}