.customerDataList-table-wrapper .status{
    display:flex;
    align-items: center;
    font-size: 12px;
    width: 170px;
    height: 22px;
    border-radius: 5px;
    line-height: 22px;
}

.customerDataList-table-wrapper .status.blue{
    background-color: #f6fcff;
    color:#036aa4;
}
.customerDataList-table-wrapper .status.purple{
    background-color: #fdf9ff;
    color:#9a38c8;
}