.login-container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 340px;;
    /* padding: 30px;
    background: rgba(255,255,255,.1);
    border-radius: 15px; */
}

.login-wrapper .title{
    color:#000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

.login-wrapper .title p{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
}

.login-wrapper .title span{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
}

.login-wrapper .btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top:35px;
}

.login-wrapper .btn{
    margin-top:16px;
    /* width: 100%; */
    width: 130px;
    border-radius: 7px;
    background-color: #033049;
    color:#fff;
    font-size:17px;
    font-weight: 500;
    padding:8px;
    text-align: center;
    cursor: pointer;
    border:0px;

}

.login-wrapper .btn:hover {
    text-decoration: none;
    background-color: rgba(0,84,148, 1)!important;
}


.MuiInput-underline::before {
    /* border-bottom:1px solid #fff!important; */
}

.MuiInput-underline:after {
    /* border-bottom:2px solid #fff!important; */
}

.MuiFormLabel-root{
    /* color:rgba(255,255,255,1.0)!important; */
}

.MuiInputBase-root{
    /* color:#fff!important; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.MuiFormControl-marginNormal{
    margin-top:8px!important;
}

.MuiOutlinedInput-root{
    height: 48px;
    line-height: 48px!important;
    border-radius: 7px!important;
}

.login-form .MuiInputLabel-outlined{
    transform: translate(14px, 16px) scale(1);
}