.sidebar-wrapper{
    max-width: 220px;
    min-width: 220px;
    width: 220px;
    height: 100%;
    /* background-color: #242B3B; */
}

.sidebar-wrapper a{
    text-decoration: none;
    color:inherit;
}

.sidebar-wrapper li{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start
}

.sidebar-wrapper li.logout{
    position: absolute;
    bottom: 10px;
    width: 220px;
}

.sidebar-wrapper .title{
    display:flex;
    flex-direction: column;
    color:#fff;
    height: 100px;
    justify-content: center;
}

.sidebar-wrapper .title p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
}

.sidebar-wrapper .title span{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
}

.sidebar-wrapper .brand{
    background-color: rgba(255,255,255,0.05);
}

.sidebar-wrapper .brand-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left:20px;
    margin-right: 20px;
    height: 68px;
    border-top:1px solid rgba(255,255,255,0.6);
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.sidebar-wrapper .brand-inner .icon{
    flex:1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.sidebar-wrapper .brand-inner .icon img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #e2e2e2;
}

.sidebar-wrapper .brand-inner .title{
    flex:3;
    height: 100%;
    padding-left: 12px;
    font-size: 16px;

}

.sidebar-wrapper .option{
    margin-top:20px;
    margin-bottom: 20px;
    color:#92B2C3;
    width: 100%;
    height: 45px;
    padding-left: 27px;
    transition: all .2s;
}

.sidebar-wrapper .option .icon{
    height:15px;
    min-width: 27px;
}

.sidebar-wrapper .option .icon{
    opacity: .5;
}

.option span{
    padding-left: 6px;
    font-weight: 500;
    font-size: 17px;
}

.nav-options .option:hover{
    cursor: pointer;
    /* background-color:#1C212E ; */
    color:#fff;
    border-left: 4px solid #fff;
}

.nav-options .active .option{
    /* background-color:#1C212E ; */
    color:#fff;
    border-left: 4px solid #fff;
    padding-left: 24px;
}

.nav-options .active .option .icon{
    opacity: 1;
}